# Clone this!
https://github.com/terranceliu/dp-query-release
and move /src to the /synthesizers folder

In [2]:
from SynRD.papers import Iverson22Football, Pierce2019Who
from SynRD.benchmark import Benchmark
from SynRD.synthesizers import MSTSynthesizer
from SynRD.utils import save_synthesizer, load_synthesizer, do_binning, unbin_df

/home/sasha-tsepilova/miniconda3/envs/synrd/lib/python3.7/site-packages/mbi/__init__.py:15: UserWarning: MixtureInference disabled, please install jax and jaxlib
  warnings.warn('MixtureInference disabled, please install jax and jaxlib')
/home/sasha-tsepilova/miniconda3/envs/synrd/lib/python3.7/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
benchmark = Benchmark()

In [4]:
papers = [Iverson22Football]

In [5]:
papers = benchmark.initialize_papers(papers)

100%|██████████| 155k/155k [00:00<00:00, 596kiB/s]

In [6]:
transforms = {}
for paper in papers:
    df, transform = do_binning(paper.real_dataframe)
    transforms[paper.__class__.__name__.lower()] = transform

In [7]:
df

,BIO_SEX,S44A21,H1GI9,H5OD11,S1,IYEAR5,IMONTH5,H1GI1Y,H1GI1M,H5ID6G,...,S44A25,S44A26,S44A27,S44A28,S44A29,H1HS3,H1SU1,H5ID6I,H5ID13,H5SS0B
0,1,0.0,1,8.0,13.0,0,2,4,6,0.0,...,0.0,0.0,0.0,0.0,1.0,0,0,0.0,0.0,1.0
1,1,0.0,2,3.0,14.0,1,4,3,9,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,1.0
2,1,0.0,2,6.0,15.0,1,7,2,1,0.0,...,0.0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,1.0
3,1,1.0,2,4.0,13.0,0,9,4,2,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,1.0
4,1,0.0,1,2.0,14.0,1,6,4,10,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1757,1,NaN,1,6.0,NaN,1,4,5,3,1.0,...,NaN,NaN,NaN,NaN,NaN,1,1,1.0,0.0,4.0
1758,1,0.0,2,6.0,13.0,0,7,4,3,1.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,1.0,2.0
1759,1,0.0,1,10.0,13.0,0,8,4,2,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,1.0
1760,1,1.0,1,2.0,14.0,1,1,3,3,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,1.0
1761,1,0.0,2,10.0,13.0,0,8,4,6,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,2.0

In [8]:
mst = MSTSynthesizer(epsilon=1.0)

In [9]:
mst.fit(df)

In [10]:
B = 5
synth_df = mst.sample(B*len(paper.real_dataframe))

In [11]:
df.describe()

,BIO_SEX,S44A21,H1GI9,H5OD11,S1,IYEAR5,IMONTH5,H1GI1Y,H1GI1M,H5ID6G,...,S44A25,S44A26,S44A27,S44A28,S44A29,H1HS3,H1SU1,H5ID6I,H5ID13,H5SS0B
count,1762.0,1321.000000,1762.000000,1760.000000,1319.000000,1762.000000,1762.000000,1762.000000,1762.000000,1762.000000,...,1321.000000,1321.000000,1321.000000,1321.000000,1321.000000,1762.000000,1762.000000,1759.000000,1753.000000,1749.000000
mean,1.0,0.279334,1.503973,7.656250,14.946171,0.233258,6.971623,1.997162,6.523837,0.174234,...,0.056018,0.126419,0.025738,0.080999,0.118849,0.106697,0.164586,0.156339,0.120365,1.348199
std,0.0,0.448842,1.041575,3.475818,1.748873,0.423025,2.795772,1.653208,3.402700,0.379418,...,0.230044,0.332447,0.158413,0.272937,0.323734,0.379740,0.684985,0.363280,0.325481,0.644883
min,1.0,0.000000,1.000000,2.000000,11.000000,0.000000,1.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,1.0,0.000000,1.000000,4.000000,14.000000,0.000000,5.000000,0.000000,4.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,1.0,0.000000,1.000000,8.000000,15.000000,0.000000,8.000000,2.000000,7.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,1.0,1.000000,2.000000,10.000000,16.000000,0.000000,9.000000,3.000000,9.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
max,1.0,1.000000,8.000000,16.000000,19.000000,1.000000,12.000000,5.000000,12.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,8.000000,8.000000,1.000000,1.000000,4.000000

In [12]:
synth_df.describe()

,BIO_SEX,S44A21,H1GI9,H5OD11,S1,IYEAR5,IMONTH5,H1GI1Y,H1GI1M,H5ID6G,...,S44A25,S44A26,S44A27,S44A28,S44A29,H1HS3,H1SU1,H5ID6I,H5ID13,H5SS0B
count,8712.0,6440.000000,8613.000000,8560.000000,6421.000000,8810.000000,8393.000000,8329.000000,8226.000000,8667.000000,...,6551.000000,6742.000000,6656.000000,6702.000000,6518.000000,8563.000000,8765.000000,8799.000000,8390.000000,8561.000000
mean,1.0,0.272981,1.570417,7.967640,15.165395,0.237117,7.137972,2.061952,6.331631,0.183339,...,0.068234,0.112578,0.046575,0.127425,0.122737,0.411655,0.163719,0.190590,0.051013,1.365611
std,0.0,0.445526,1.310775,3.737628,1.883869,0.425339,2.695639,1.628060,3.368752,0.386967,...,0.252166,0.316100,0.210742,0.333473,0.328160,1.609505,0.724959,0.392789,0.220038,0.687134
min,1.0,0.000000,1.000000,2.000000,11.000000,0.000000,1.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,1.0,0.000000,1.000000,4.000000,14.000000,0.000000,6.000000,1.000000,3.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,1.0,0.000000,1.000000,9.000000,15.000000,0.000000,8.000000,2.000000,6.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,1.0,1.000000,2.000000,10.000000,17.000000,0.000000,9.000000,3.000000,9.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
max,1.0,1.000000,8.000000,16.000000,19.000000,1.000000,12.000000,5.000000,12.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,8.000000,8.000000,1.000000,1.000000,4.000000

In [13]:
paper.set_synthetic_dataframe(synth_df)

In [14]:
benchmark.eval_soft_findings_each_finding(paper, 5)

[array([1. , 1. , 1. , 1. , 1. , 0.8, 1. , 1. , 0.6, 0.2, 0.6, 1. , 1. ,
        1. , 0.6, 0.2, 0.6]),
 array([0.        , 0.        , 0.        , 0.        , 0.        ,
        0.4       , 0.        , 0.        , 0.48989795, 0.4       ,
        0.48989795, 0.        , 0.        , 0.        , 0.48989795,
        0.4       , 0.48989795]),
 array([[1. , 1. , 1. , 1. , 1. , 0.1, 1. , 1. , 0. , 0. , 0. , 1. , 1. ,
         1. , 0. , 0. , 0. ],
        [1. , 1. , 1. , 1. , 1. , 1. , 1. , 1. , 1. , 0.9, 1. , 1. , 1. ,
         1. , 1. , 0.9, 1. ]])]